[user]
	name = Arief Rahman
	email = 140642047+ariefrahmanna@users.noreply.github.com
# [color]
# 	ui = auto
[init]
	defaultBranch = main
[core]
	autocrlf = false
	editor = code --wait
[push]
	autoSetupRemote = true
[alias]
	ci = commit
  cim = commit -m
	aa = add -A
	pr = pull --rebase
	stat = status -s
	ammend = commit --amend --no-edit
	rh = reset HEAD

# [credential]
#	 helper = /mnt/c/Program\\ Files/Git/mingw64/libexec/git-core/git-credential-wincred.exe
