[user]
	name = Arief Rahman
	email = 140642047+ariefrahmanna@users.noreply.github.com
[init]
	defaultBranch = main
[core]
	autocrlf = false
	editor = code --wait
[push]
	autoSetupRemote = true
[alias]
	stat = status -s
	aa = add -A
	ci = commit
	rh = reset HEAD
	pr = pull --rebase
	ammend = commit --amend --no-edit
	ibase = rebase --interactive
# [credential]
#	 helper = /mnt/c/Program\\ Files/Git/mingw64/libexec/git-core/git-credential-wincred.exe
