[user]
    name = Arief Rahman
    email = 140642047+ariefrahmanna@users.noreply.github.com
[color]
    ui = auto
[init]
    defaultBranch = main
[core]
    autocrlf = false
[push]
    autoSetupRemote = true

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold # line info
    old = red # deletions
    new = green # additions

[color "status"]
    added = yellow
    changed = green
    untracked = cyan
